html, body {
  background-color: #3D2A44;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.icon {
  font-size: 40px
}

.font-superbig {
  font-size: 45px;
  font-weight: 300;
}

.font-big {
  font-size: 30px;
  font-weight: 300;
}

.font-small{
  font-size: 15px;
  font-weight: 300;
}

.font-medium {
  font-size: 24px;
  font-weight: 600;
}

.center {
  text-align: center;
}